@import "../../../../styles/_variables"

\:host /deep/
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around
  agm-map
    width: 80%
    height: 80%
    .agm-map-container-inner
      width: 100%
      height: 100%
      border-radius: 5px
    agm-marker.near-places
      transform: scale(0.2)
  md-toolbar
    width: 80%
    border-radius: 5px
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8)
    button
      height: 100%
  .location-btn
    margin-left: 26px
  .mat-select-placeholder
    color: #fff
  .mat-select-arrow,.mat-select-underline, .mat-select-placeholder.mat-floating-placeholder
    display: none


